#container {
  position: absolute;
}

#info {
  position: absolute;
  top: 0px; width: 100%;
  text-align: center;
  padding: 13px;
  z-index: 100;
}

#info a {
  color: red
}

#info span {
  color: gray
}

