#container {
  position: absolute;
}

#info {
  position: absolute;
  top: 0px; width: 100%;
  text-align: center;
  padding: 13px;
  z-index: 100;
}

#github {
  position: absolute;
  top: 5px;
  z-index: 105;
}

#github img {
  width: 64px;
  height: auto;
}

#info a {
  color: red
}

#info span {
  color: gray
}

